In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name='../../00_Raw/human-m1-10x/matrix.csv'
meta_data='../../00_Raw/human-m1-10x/metadata.csv'

In [3]:
meta=pd.read_csv(meta_data)

In [4]:
meta = meta[['sample_name','cluster_label']]

In [5]:
meta.head()

                           sample_name             cluster_label
0  AAACCCAAGGATTTCC-LKTX_190129_01_A01        Inh L1-2 SST CCNJL
1  AAACCCAAGTATGGCG-LKTX_190129_01_A01   Exc L5-6 FEZF2 IFNG-AS1
2  AAACCCACAAAGTGTA-LKTX_190129_01_A01   Exc L3-5 RORB LINC01202
3  AAACCCACACTACTTT-LKTX_190129_01_A01    Exc L2 LINC00507 GLRA3
4  AAACCCACAGTGAGCA-LKTX_190129_01_A01  Oligo L2-6 OPALIN FTH1P3

In [6]:
meta_dict = dict(zip(meta.sample_name,meta.cluster_label))

In [9]:
expression_sum = {}
with open(file_name) as f:
    
  #get gene labels from header
  genes = f.readline().split(',')[1:]

  #for each line get cell type identity of the single cell and sum the total counts
  for count,line in enumerate(f):
    line_elements = line.split(',')
    cell_id = line_elements[0]
    
    #Get cell type identity corresponding to cell id
    cell_type_id = meta_dict[cell_id]
    
    #Get expression of all genes in a numpy array
    expression = np.array([int(i) for i in line_elements[1:]])
    
    #Create new cell type id - expression dictionary if key is not present
    if cell_type_id not in expression_sum:
        expression_sum[cell_type_id] = expression
    #Else add the counts to the cell id
    else:
        expression_sum[cell_type_id] = np.add(expression_sum[cell_type_id], expression)
    if count % 1000 ==0:
        print(count)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000

In [10]:
expression_sum_df = pd.DataFrame(expression_sum,index=genes)

In [32]:
expression_sum_df.index.name = 'Gene'

In [33]:
expression_sum_df.head()

,Inh L1-2 SST CCNJL,Exc L5-6 FEZF2 IFNG-AS1,Exc L3-5 RORB LINC01202,Exc L2 LINC00507 GLRA3,Oligo L2-6 OPALIN FTH1P3,Exc L5-6 FEZF2 C9orf135-AS1,Exc L3-5 FEZF2 ASGR2,Exc L3-5 RORB LNX2,Exc L5 THEMIS RGPD6,Exc L3 LAMP5 CARM1P1,...,Inh L1 VIP KLHDC8B,Inh L3-6 PAX6 LINC01497,Inh L2 PAX6 FREM2,Inh L1 PAX6 MIR101-1,Inh L1 LAMP5 NMBR,VLMC L1-5 PDGFRA COLEC12,Inh L1 LAMP5 BMP2,Inh L1-2 VIP WNT4,Inh L1-2 VIP HTR3A,Inh L1 SST P4HA3
Gene,,,,,,,,,,,,,,,,,,,,,
DDX11L1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WASH7P,3,12,14,241,11,49,20,109,6,110,...,2,1,4,1,6,0,9,2,0,2
MIR6859-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MIR1302-2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FAM138A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
expression_sum_df.sum(axis=0).sort_values()

Oligo L5-6 OPALIN LDLRAP1        25779
VLMC L1-5 PDGFRA COLEC12         99905
Endo L2-5 NOSTRIN SRGN          157691
Micro L1-6 TYROBP CD74          235672
Astro L1-6 FGFR3 AQP1           293838
                               ...
Exc L5 THEMIS SLC22A18        77208566
Exc L2-3 RORB CCDC68          80681426
Exc L3 LAMP5 CARM1P1         110544538
Exc L3-5 RORB LNX2           118277580
Exc L2 LINC00507 GLRA3       259481505
Length: 127, dtype: int64

In [35]:
expression_sum_df.reset_index()

,Gene,Inh L1-2 SST CCNJL,Exc L5-6 FEZF2 IFNG-AS1,Exc L3-5 RORB LINC01202,Exc L2 LINC00507 GLRA3,Oligo L2-6 OPALIN FTH1P3,Exc L5-6 FEZF2 C9orf135-AS1,Exc L3-5 FEZF2 ASGR2,Exc L3-5 RORB LNX2,Exc L5 THEMIS RGPD6,...,Inh L1 VIP KLHDC8B,Inh L3-6 PAX6 LINC01497,Inh L2 PAX6 FREM2,Inh L1 PAX6 MIR101-1,Inh L1 LAMP5 NMBR,VLMC L1-5 PDGFRA COLEC12,Inh L1 LAMP5 BMP2,Inh L1-2 VIP WNT4,Inh L1-2 VIP HTR3A,Inh L1 SST P4HA3
0,DDX11L1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,WASH7P,3,12,14,241,11,49,20,109,6,...,2,1,4,1,6,0,9,2,0,2
2,MIR6859-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,MIR1302-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,FAM138A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50276,ND6,7,13,20,236,10,58,13,180,7,...,3,2,11,8,7,0,12,2,1,1
50277,TRNE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50278,CYTB,1895,3198,4578,67385,1731,21154,3373,77907,2186,...,509,444,1124,974,712,61,1745,872,218,166
50279,TRNT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50280,TRNP\n,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
expression_sum_df.to_csv('../../01_Processed/human-m1-10x.sum.txt',index=True)