In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name='../../00_Raw/mutiple_cortical_areas_smart_seq2019/matrix.csv'
meta_data='../../00_Raw/mutiple_cortical_areas_smart_seq2019/metadata.csv'

In [3]:
meta=pd.read_csv(meta_data)

In [4]:
meta = meta[['sample_name','cluster_label']]

In [5]:
meta.head()

           sample_name          cluster_label
0  F2S4_160113_027_A01                    NaN
1  F2S4_160113_027_B01      Inh L2-5 VIP TOX2
2  F2S4_160113_027_C01     Inh L1 LAMP5 GGT8P
3  F2S4_160113_027_D01      Inh L1 LAMP5 NDNF
4  F2S4_160113_027_E01  Inh L1-3 VIP ZNF322P1

In [6]:
meta_dict = dict(zip(meta.sample_name,meta.cluster_label))

In [7]:
expression_sum = {}
with open(file_name) as f:
    
  #get gene labels from header
  genes = f.readline().split(',')[1:]

  #for each line get cell type identity of the single cell and sum the total counts
  for count,line in enumerate(f):
    line_elements = line.split(',')
    cell_id = line_elements[0]
    
    #Get cell type identity corresponding to cell id
    cell_type_id = meta_dict[cell_id]
    
    #Get expression of all genes in a numpy array
    expression = np.array([int(i) for i in line_elements[1:]])
    
    #Create new cell type id - expression dictionary if key is not present
    if cell_type_id not in expression_sum:
        expression_sum[cell_type_id] = expression
    #Else add the counts to the cell id
    else:
        expression_sum[cell_type_id] = np.add(expression_sum[cell_type_id], expression)
    if count % 1000 ==0:
        print(count)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000

In [8]:
expression_sum_df = pd.DataFrame(expression_sum,index=genes)

In [9]:
expression_sum_df.index.name = 'Gene'

In [10]:
expression_sum_df.head()

,NaN,Inh L2-5 VIP TOX2,Inh L1 LAMP5 GGT8P,Inh L1 LAMP5 NDNF,Inh L1-3 VIP ZNF322P1,Inh L3 VIP CBLN1,Inh L1-4 LAMP5 DUSP4,Exc L2-3 LINC00507 RPL9P17,Inh L1 SST CXCL14,Inh L1 PAX6 GRIP2,...,Exc L3 LINC00507 PSRC1,Exc L3-4 RORB RPS3P6,Exc L5 FEZF2 MORN2,Exc L3-5 LINC00507 SLN,Exc L3-5 THEMIS UBE2F,Exc L3-5 FEZF2 DCN,Exc L4 RORB CCDC168,Exc L3 LINC00507 CTXN3,Exc L3 THEMIS PLA2G7,Exc L5 FEZF2 DYRK2
Gene,,,,,,,,,,,,,,,,,,,,,
3.8-1.2,125,0,0,0,0,0,25,216,71,0,...,0,0,0,0,0,0,0,0,12,0
3.8-1.3,7,197,0,1,1,0,0,249,0,0,...,16,0,0,0,0,0,0,46,0,0
3.8-1.4,7,1,0,0,191,0,0,0,0,0,...,0,0,6,0,0,0,0,1,0,0
3.8-1.5,163,0,0,1,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,1
5-HT3C2,944,9,0,149,14,3,214,684,179,0,...,209,0,1,1,28,1,0,12,1,1

In [34]:
expression_sum_df.sum(axis=0).sort_values()

Oligo L5-6 OPALIN LDLRAP1        25779
VLMC L1-5 PDGFRA COLEC12         99905
Endo L2-5 NOSTRIN SRGN          157691
Micro L1-6 TYROBP CD74          235672
Astro L1-6 FGFR3 AQP1           293838
                               ...
Exc L5 THEMIS SLC22A18        77208566
Exc L2-3 RORB CCDC68          80681426
Exc L3 LAMP5 CARM1P1         110544538
Exc L3-5 RORB LNX2           118277580
Exc L2 LINC00507 GLRA3       259481505
Length: 127, dtype: int64

In [22]:
expression_sum_df = expression_sum_df.loc[:, expression_sum_df.columns.notnull()]

In [26]:
expression_sum_df

,Inh L2-5 VIP TOX2,Inh L1 LAMP5 GGT8P,Inh L1 LAMP5 NDNF,Inh L1-3 VIP ZNF322P1,Inh L3 VIP CBLN1,Inh L1-4 LAMP5 DUSP4,Exc L2-3 LINC00507 RPL9P17,Inh L1 SST CXCL14,Inh L1 PAX6 GRIP2,Inh L1-2 VIP PPAPDC1A,...,Exc L3 LINC00507 PSRC1,Exc L3-4 RORB RPS3P6,Exc L5 FEZF2 MORN2,Exc L3-5 LINC00507 SLN,Exc L3-5 THEMIS UBE2F,Exc L3-5 FEZF2 DCN,Exc L4 RORB CCDC168,Exc L3 LINC00507 CTXN3,Exc L3 THEMIS PLA2G7,Exc L5 FEZF2 DYRK2
Gene,,,,,,,,,,,,,,,,,,,,,
3.8-1.2,0,0,0,0,0,25,216,71,0,0,...,0,0,0,0,0,0,0,0,12,0
3.8-1.3,197,0,1,1,0,0,249,0,0,0,...,16,0,0,0,0,0,0,46,0,0
3.8-1.4,1,0,0,191,0,0,0,0,0,0,...,0,0,6,0,0,0,0,1,0,0
3.8-1.5,0,0,1,0,0,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5-HT3C2,9,0,149,14,3,214,684,179,0,1,...,209,0,1,1,28,1,0,12,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYX,4002,1212,9633,7835,1935,15701,270633,8864,442,465,...,8099,2612,1446,786,2606,597,4892,11174,2253,1220
ZZEF1,18806,3755,48596,34514,9418,64786,432758,19957,3307,3093,...,15754,3646,3377,3043,5689,1010,10434,15016,4292,1908
ZZZ3,40388,10478,126336,87868,29987,148738,1074190,67265,7455,6241,...,61886,8645,7964,7684,17693,3368,26885,28583,6461,5057
bA255A11.4,0,0,0,118,0,0,201,0,0,0,...,8,1,0,48,28,0,0,0,1,0
bA395L14.12\n,60,8,133,104,27,219,1228,57,7,8,...,63,25,9,10,26,3,52,35,4,4

In [27]:
expression_sum_df.to_csv('../../01_Processed/mutiple_cortical_areas_smart_seq2019.sum.txt',index=True)