In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name='../../00_Raw/mouse_cortex_hippocampus2020/matrix.csv'
meta_data='../../00_Raw/mouse_cortex_hippocampus2020/metadata.csv'

In [3]:
meta=pd.read_csv(meta_data)

/Users/bryoisj/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
meta = meta[['sample_name','cluster_label']]

In [5]:
meta.head()

           sample_name   cluster_label
0  F1S4_180126_312_A01          54_Vip
1  F1S4_180302_308_D01  157_L2 IT HATA
2  F2S4_160304_013_C01          54_Vip
3  F2S4_160816_020_C01        15_Lamp5
4  F1S4_180124_301_A01  157_L2 IT HATA

In [6]:
meta_dict = dict(zip(meta.sample_name,meta.cluster_label))

In [7]:
expression_sum = {}
with open(file_name) as f:
    
  #get gene labels from header
  genes = f.readline().split(',')[1:]

  #for each line get cell type identity of the single cell and sum the total counts
  for count,line in enumerate(f):
    line_elements = line.split(',')
    cell_id = line_elements[0]
    
    #Get cell type identity corresponding to cell id
    cell_type_id = meta_dict[cell_id]
    
    #Get expression of all genes in a numpy array
    expression = np.array([int(i) for i in line_elements[1:]])
    
    #Create new cell type id - expression dictionary if key is not present
    if cell_type_id not in expression_sum:
        expression_sum[cell_type_id] = expression
    #Else add the counts to the cell id
    else:
        expression_sum[cell_type_id] = np.add(expression_sum[cell_type_id], expression)
    if count % 1000 ==0:
        print(count)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000

In [8]:
expression_sum_df = pd.DataFrame(expression_sum,index=genes)

In [9]:
expression_sum_df.index.name = 'Gene'

In [10]:
expression_sum_df.head()

,253_L5 PT CTX,206_L5 IT CTX,242_L5 PT CTX,203_L5 IT CTX,190_L4/5 IT CTX,252_L5 PT CTX,241_L5 PT CTX,243_L5 PT CTX,207_L5 IT CTX,192_L4/5 IT CTX,...,127_L2/3 IT APr,129_L2/3 IT APr,132_L2/3 IT PPP,128_L2/3 IT APr,156_L2 IT ProS,282_CA1,355_V3d,284_CA1,295_CA3,256_L5 PT RSP-ACA
Gene,,,,,,,,,,,,,,,,,,,,,
0610005C13Rik,64,186,4,41,55,91,2,0,72,113,...,0,0,7,0,0,0,0,0,0,0
0610006L08Rik,17,48,3,4,1,285,0,0,95,17,...,0,0,0,0,0,0,0,0,0,0
0610007P14Rik,53208,77047,22923,68354,31068,37652,4160,3190,128138,51923,...,3275,446,3648,1583,135,155,5,961,249,61
0610009B22Rik,44104,62692,20040,59816,25044,30662,3591,2833,123016,28546,...,3072,346,2585,971,46,95,128,658,107,42
0610009E02Rik,906,1503,817,746,526,769,67,15,1715,2376,...,52,10,95,38,3,0,0,26,0,0

In [11]:
expression_sum_df.sum(axis=0).sort_values()

333_L6b/CT ENT          170000
145_L3 IT ENTl          517846
158_L2/3 IT ENTl        540968
355_V3d                 634269
282_CA1                 637629
                       ...
200_L4/5 IT CTX     2459304490
327_L6 CT CTX       4521025214
183_L2/3 IT CTX     5131246832
226_L6 IT CTX       5287801443
188_L4/5 IT CTX     6550505899
Length: 367, dtype: int64

In [12]:
expression_sum_df = expression_sum_df.loc[:, expression_sum_df.columns.notnull()]

In [13]:
expression_sum_df

,253_L5 PT CTX,206_L5 IT CTX,242_L5 PT CTX,203_L5 IT CTX,190_L4/5 IT CTX,252_L5 PT CTX,241_L5 PT CTX,243_L5 PT CTX,207_L5 IT CTX,192_L4/5 IT CTX,...,127_L2/3 IT APr,129_L2/3 IT APr,132_L2/3 IT PPP,128_L2/3 IT APr,156_L2 IT ProS,282_CA1,355_V3d,284_CA1,295_CA3,256_L5 PT RSP-ACA
Gene,,,,,,,,,,,,,,,,,,,,,
0610005C13Rik,64,186,4,41,55,91,2,0,72,113,...,0,0,7,0,0,0,0,0,0,0
0610006L08Rik,17,48,3,4,1,285,0,0,95,17,...,0,0,0,0,0,0,0,0,0,0
0610007P14Rik,53208,77047,22923,68354,31068,37652,4160,3190,128138,51923,...,3275,446,3648,1583,135,155,5,961,249,61
0610009B22Rik,44104,62692,20040,59816,25044,30662,3591,2833,123016,28546,...,3072,346,2585,971,46,95,128,658,107,42
0610009E02Rik,906,1503,817,746,526,769,67,15,1715,2376,...,52,10,95,38,3,0,0,26,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
n-R5s142,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
n-R5s143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
n-R5s144,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
n-R5s146,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
n-R5s149\n,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
expression_sum_df.to_csv('../../01_Processed/mouse_whole_cortex_hippocampus_2020.csv',index=True)